.displayContainer {
  margin-top: 30px;
  width: 100%;
}

.graph {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.toggleLabel {
  margin: 10px;
}
