.displayContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectedInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.5);
  width: 50%;
  min-width: 350px;
  border-radius: 15px;
}

.selectedInfo {
  display: flex;
  align-items: baseline;
}

.selectedInfo h3 {
  padding-right: 5px;
}

.graph {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.toggleLabel {
  margin: 10px;
}
