.entireFormContainer {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: all 0.5s ease-in-out;
}

.formContainer {
  background-color: bisque;
  width: 100%; /* 100% width */
  height: 100vh;
  padding-bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25%; /* 25% from the top */
  text-align: center; /* Centered text/links */
  transition: all 0.5s ease-in-out;
}

.open {
  display: flex;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none;
  transform: translate3d(0, -130%, 0);
  transition: all 0.5s ease-in-out;
}

.entireFormContainer > .hidden {
  height: 0%;
}

.hamburger {
  /* removes default border on button element */
  border: 0;
  opacity: 1;
  height: 60px;
  width: 60px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--main-dogwood-color);
  color: #fff7eaf0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 9;
  /* positions the icon to the right aligns it vertically */
  position: absolute;
  top: 15px;
  right: 45px;
  display: block;
}

.expandedNav {
  background-color: gray;
  transform: rotate(90deg);
}

.errorMessage {
  color: #f21e08;
  max-width: 60%;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 300;
}

.formElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 50vw;
}

.formElement label {
  width: 20%;
  padding-right: 20px;
}

.submitButton {
  background-color: var(--main-brown-color);
  margin: 20px;
}
