.entireFormContainer {
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  background-color: rgba(222, 204, 204, 0.9);
  width: 80%;
  border-radius: 15px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25%; /* 25% from the top */
  text-align: center; /* Centered text/links */
  transition: all 0.5s ease-in-out;
}

.open {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none;
  transform: translate3d(0, -130%, 0);
  transition: all 0.5s ease-in-out;
}

.hamburger {
  /* removes default border on button element */
  border: 0;
  opacity: 1;
  height: 60px;
  width: 60px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--main-dogwood-color);
  color: #fff7eaf0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 9;
  /* positions the icon to the right aligns it vertically */
  position: absolute;
  top: 3vh;
  right: 4vw;
  display: block;
}

@media only screen and (max-width: 500px) {
  .hamburger {
    top: 1vh;
    right: 1vw;
  }
}

.expandedNav {
  background-color: gray;
  transform: rotate(90deg);
}

.errorMessage {
  color: #f21e08;
  max-width: 60%;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 300;
}

.formElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
  width: 70vw;
}

.formElement label {
  width: 20%;
  padding-right: 20px;
  padding-bottom: 2px;
}

.submitButton {
  background-color: var(--main-blue-color);
  margin: 20px;
}
